@import "../theme/";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

$color: #00e271;
$text-shadow: 0 0 8px $color;

.root {
	text-align: center;
	h2 {
		transition: transform 0.3s ease;
		word-break: keep-all;
		white-space: nowrap;
		font-size: 1em;
	}
	font-size: 1.2rem;
	overflow: collapse;
	padding: 1em 1ch;
	line-height: 1em;
	min-height: 100vh;
	background-color: black;
	color: $color;
	font-family: "IBM Plex Mono", monospace;
	background: $color;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	row-gap: 2rem;
	text-shadow: 0 0 2px 8px $color;
	background: radial-gradient(circle, rgba(0, 30, 0, 100) 50%, rgba(0, 0, 0, 100) 200%);
	*::selection {
		background: $color;
		color: black;
	}
}

.loading {
	margin-bottom: 1em;
	> :nth-child(2) {
		width: 1ch;
		height: 1rem;
		display: inline-block;
	}
}

.progress {
	transition: transform 0.3s ease;
}

.monospace {
	span {
		width: 1ch;
		height: 1.2rem;
		display: inline-block;
	}
}

@media screen and (max-width: 600px) {
	.root {
		h2 {
			transform: scale(0.5);
		}
		.progress {
			transform: scale(0.7);
		}
	}
}
