@import "./theme";

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root,
html,
body {
  background: $image;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $light;
  font-family: "Karla", sans-serif;
  font-weight: 100;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
