@import "./theme";

@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

:root,
html,
body {
  background: $linear;
  color: $light;
  font-family: "Karla", sans-serif;
  font-weight: 100;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
