@import "../styles/theme.scss";

.root {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.shadow {
  background: var(--cvos-background-33);
  box-shadow: inset 0 0 8px 2px var(--cvos-background-50);
  border: 1px solid var(--cvos-divider);
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  @for $i from 1 to 9 {
    &.snap-#{$i} {
      @if $i == 1 or $i == 3 {
        bottom: 50%;
      } @else {
        bottom: 0;
      }
      @if $i < 5 or $i > 7 {
        top: 0;
      } @else {
        top: 50%;
      }
      @if $i < 3 or $i > 5 {
        left: 0;
      } @else {
        left: 50%;
      }
      @if $i < 2 or $i > 6 {
        right: 50%;
      } @else {
        right: 0;
      }
      transition: all 0.3s ease-in-out;
    }
  }
}

@supports (backdrop-filter: blur(6px)) {
  :not(.contrast).shadow {
    background: transparent;
    backdrop-filter: blur(6px);
  }
}

.resizing *,
.dragging * {
  pointer-events: none;
}
