.shortcut-frame {
  height: 100%;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 5rem;
  grid-auto-columns: 6.5rem;
  row-gap: 1rem;
  column-gap: 0;
  padding: 0.5rem;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // z-index: 1;
}
