@import "../styles/theme.scss";

.task-bar {
  z-index: 999;
  background-color: change-color($dark, $alpha: 0.3);
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  backdrop-filter: blur(6px);
  .menu {
    position: relative;
    button {
      width: 100%;
      padding: $padding / 2;
      cursor: pointer;
    }
    hr {
      width: auto;
      margin: 8px;
      height: 1px;
      background: change-color($light, $alpha: 0.3);
    }
    nav {
      ul {
        list-style-type: none;
        margin: 0;
        li {
          button {
            column-gap: $padding;
            display: grid;
            grid-template-columns: auto 1fr;
            span {
              justify-self: flex-end;
              margin-left: $margin;
              word-break: keep-all;
              white-space: nowrap;
            }
          }
        }
      }
      position: absolute;
      opacity: 0;
      background: change-color($dark, $alpha: 0.7);
      box-shadow: $shadow;
      backdrop-filter: blur(6px);
      z-index: -1;
      left: 0;
      bottom: 66%;
      transition: opacity ease 0.3s, bottom ease 0.3s 0.3s;
      &.shown {
        transition: opacity ease 0.3s, bottom ease 0.1s;
        opacity: 1;
        bottom: 100%;
      }
    }
  }
  button {
    outline: 0;
    outline: none;
    background: none;
    border: 0;
    padding: 6px 12px;
    height: 100%;
    color: $light;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      cursor: default;
    }
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: #ffffff30;
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  hr {
    margin: 8px;
    width: 1px;
    border: 0;
    background: change-color($light, $alpha: 0.3);
  }
  .apps {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      object-position: center;
    }
  }
}
