@import "../styles/theme.scss";

.task-bar {
  position: relative;
  background-color: $dark;
  min-height: 40px;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto auto;
  font-size: 0.8rem;
  background-color: change-color($dark, $alpha: 0.5);
  button {
    outline: 0;
    outline: none;
    background: none;
    border: 0;
    padding: $padding/2 $padding;
    height: 100%;
    color: $light;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:disabled {
      cursor: default;
    }
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: change-color($light, $alpha: 0.1);
    }
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  .apps {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: contain;
      object-position: center;
    }
  }
}

@supports (backdrop-filter: blur(6px)) {
  .task-bar {
    background-color: change-color($dark, $alpha: 0.5);
    backdrop-filter: blur(6px);
  }
}
