@import "../styles/theme.scss";

nav.task-bar-menu {
  z-index: 1;
  background-color: change-color($dark, $alpha: 0.5);
  position: absolute;
  max-height: 350px;
  overflow: auto;
  &.shown {
    pointer-events: all;
    transition: opacity ease 0.3s, bottom ease 0.3s;
    opacity: 1;
    bottom: 100%;
  }
}

@supports (backdrop-filter: blur(0)) {
  nav.task-bar-menu {
    background-color: change-color($dark, $alpha: 0.5);
    backdrop-filter: blur(6px);
  }
}
