@import "../styles/theme.scss";

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  position: relative;
  background: var(--cvos-background);
  border-bottom: 1px solid var(--cvos-divider);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: grab;
  .button-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 8px;
  }
  button {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
    box-shadow: 0 0 6px 0 #00000033;
    pointer-events: all;
    &:active {
      box-shadow: inset 0 0 6px 0 #0000004d;
    }
    &.red {
      background: var(--cvos-error);
    }
    &.orange {
      background: var(--cvos-warning);
    }
    &.green {
      background: var(--cvos-success);
    }
  }
  h2 {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  // font-family: 'roboto';
  user-select: none;
  font-weight: 500;
  pointer-events: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  color: var(--cvos-text);
  transition: color 0.3s ease;
  font-size: 1rem;
}

@supports (backdrop-filter: $blur) {
  .root:not(.contrast) {
    background: var(--cvos-background-67);
    backdrop-filter: $blur;
    border-bottom-color: transparent;
  }
}
