@import "../../../styles/theme.scss";

.root {
  outline: 0;
  // transition: border-color .3s ease;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-basis: 0;
  border: 1px solid var(--cvos-divider);
  span {
    height: 100%;
    min-width: 150px;
    color: var(--cvos-text);
    padding: $padding/2;
    background-color: var(--cvos-background-33);
  }
  input {
    flex-grow: 1;
    outline: 0;
    background-color: var(--cvos-paper-33);
    border: 0;
    caret-color: var(--cvos-text);
    color: var(--cvos-text);
    padding: $padding/2;
  }
  &:focus {
    // border-color: ;
  }
}

.full-width {
  width: 100%;
}
