@import "../../styles/theme.scss";

.lock {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  > section {
    padding: $padding;

    form {
      input[type="submit"] {
        padding: $padding;
        backdrop-filter: blur(6px);
        border: 0;
        background: #ffffff1a;
        border-radius: $border-radius;
        box-shadow: 0 0 20px 4px #33333333;
        color: $light;
        font-size: 2rem;
        cursor: pointer;
      }
    }
  }
}
