@import "../../styles/theme.scss";

.root {
  background-color: var(--cvos-paper);
  transition: background-color 0.3s ease, border-color 0.3s ease;
  &.outlined {
    border: 1px solid var(--cvos-divider);
  }
  &.full-width {
    width: 100%;
  }
  &.padding {
    padding: $padding;
  }
  @each $color in $colors {
    &.#{$color}.contrast {
      background-color: var(--cvos-#{$color});
    }
    &.#{$color}:not(.contrast) {
      background-color: var(--cvos-#{$color}#{-50});
    }
  }
  @supports (backdrop-filter: $blur) {
    &.blur:not(.contrast) {
      background-color: transparent;
      backdrop-filter: $blur;
      @each $color in $colors {
        &.#{$color} {
          background-color: var(--cvos-#{$color}#{-50});
        }
      }
    }
  }
}
