@import "../../../../styles/theme.scss";

.root {
  display: grid;
  user-select: none;
  row-gap: $padding;
}

.intro {
  display: grid;
  grid: auto / min-content 1fr;
  .avatar-container {
    position: relative;
    height: 340px;
    width: 340px;
    > .name {
      position: absolute;
      width: 16rem;
      > * {
        margin: 0;
        font-size: 32px;
      }
    }
    > .avatar {
      position: absolute;
      left: 42px;
      top: 42px;
      height: 256px;
      width: 256px;
      > img {
        height: 100%;
        width: 100%;
        object-position: top;
      }
    }
  }
  .text-container {
    padding: $padding;
    display: flex;
    align-items: center;
    justify-content: center;
    > * {
      max-width: 500px;
    }
  }
}

.skills {
  display: grid;
  column-gap: $padding * 2;
  row-gap: $padding * 2;
  grid-template-columns: repeat(auto-fit, 10rem);
  justify-content: center;
  align-content: center;
  width: 100%;
  .bubble {
    position: relative;
    width: 10rem;
    height: 10rem;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-items: center;
    margin: 0 7px 7px 0;
    .icon {
      height: 4rem;
      width: 4rem;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transform: translate(7px, 7px);
      z-index: -1;
      border: 1px solid var(--cvos-divider);
    }
  }
}

.experiences {
  > ul > li > * {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: $padding;
    align-items: center;
    ul {
      list-style-type: disc;
      padding-left: $padding/2;
      margin-left: $margin;
      display: grid;
      row-gap: $padding/2;
    }
  }
  .date {
    height: 8rem;
    width: 8rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    border: 1px solid var(--cvos-divider);
    border-radius: 50%;
    color: var(--cvos-text);
    background-color: var(--cvos-background-33);
  }
  ul {
    list-style-type: none;
  }
}

.education {
  ul {
    display: grid;
    row-gap: $padding;
    > li {
      padding-right: $padding/2;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto auto;
      align-items: center;
      justify-items: flex-start;
      background: var(--cvos-paper-50);
      column-gap: $padding;
      > div:last-of-type {
        margin-bottom: 0.5em;
      }
      > .date {
        grid-row-start: 1;
        grid-row-end: -1;
        grid-column-start: 1;
        grid-column-end: 2;
        border: 1px solid var(--cvos-divider);
        color: var(--cvos-text);
        background-color: var(--cvos-background-33);
        height: 100%;
        font-weight: normal;
        width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.root.small {
  .intro {
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
