@import "../../../../styles/theme.scss";

.root {
  display: grid;
  row-gap: $padding;
  user-select: none;
  .cat {
    align-items: center;
    display: grid;
    grid: auto / auto 1fr;
    justify-items: flex-end;
    max-width: 400px;
  }
}
