$black: #000000;
$white: #ffffff;

$shade-050: hsl(270, 5%, 95%);
$shade-100: hsl(270, 5%, 90%);
$shade-200: hsl(270, 5%, 80%);
$shade-300: hsl(270, 5%, 70%);
$shade-400: hsl(270, 5%, 60%);
$shade-500: hsl(270, 5%, 50%);
$shade-600: hsl(270, 5%, 40%);
$shade-700: hsl(270, 5%, 30%);
$shade-800: hsl(270, 5%, 20%);
$shade-900: hsl(270, 5%, 10%);

$primary-050: hsl(270, 28%, 95%);
$primary-100: hsl(270, 28%, 90%);
$primary-200: hsl(270, 28%, 80%);
$primary-300: hsl(270, 28%, 70%);
$primary-400: hsl(270, 28%, 60%);
$primary-500: hsl(270, 28%, 50%);
$primary-600: hsl(270, 28%, 40%);
$primary-700: hsl(270, 28%, 30%);
$primary-800: hsl(270, 28%, 20%);
$primary-900: hsl(270, 28%, 10%);

$secondary-050: hsl(56, 42%, 95%);
$secondary-100: hsl(56, 42%, 90%);
$secondary-200: hsl(56, 42%, 80%);
$secondary-300: hsl(56, 42%, 70%);
$secondary-400: hsl(56, 42%, 60%);
$secondary-500: hsl(56, 42%, 50%);
$secondary-600: hsl(56, 42%, 40%);
$secondary-700: hsl(56, 42%, 30%);
$secondary-800: hsl(56, 42%, 20%);
$secondary-900: hsl(56, 42%, 10%);

$success-050: hsl(101, 42%, 95%);
$success-100: hsl(101, 42%, 90%);
$success-200: hsl(101, 42%, 80%);
$success-300: hsl(101, 42%, 70%);
$success-400: hsl(101, 42%, 60%);
$success-500: hsl(101, 42%, 50%);
$success-600: hsl(101, 42%, 40%);
$success-700: hsl(101, 42%, 30%);
$success-800: hsl(101, 42%, 20%);
$success-900: hsl(101, 42%, 10%);

$warning-050: hsl(42, 69%, 95%);
$warning-100: hsl(42, 69%, 90%);
$warning-200: hsl(42, 69%, 80%);
$warning-300: hsl(42, 69%, 70%);
$warning-400: hsl(42, 69%, 60%);
$warning-500: hsl(42, 69%, 50%);
$warning-600: hsl(42, 69%, 40%);
$warning-700: hsl(42, 69%, 30%);
$warning-800: hsl(42, 69%, 20%);
$warning-900: hsl(42, 69%, 10%);

$error-050: hsl(0, 42%, 95%);
$error-100: hsl(0, 42%, 90%);
$error-200: hsl(0, 42%, 80%);
$error-300: hsl(0, 42%, 70%);
$error-400: hsl(0, 42%, 60%);
$error-500: hsl(0, 42%, 50%);
$error-600: hsl(0, 42%, 40%);
$error-700: hsl(0, 42%, 30%);
$error-800: hsl(0, 42%, 20%);
$error-900: hsl(0, 42%, 10%);
