$font-style-base: "Sahitya", serif;
$font-style-styled: "Sail", cursive;

$font-headline-1-size: 3.71293rem;
$font-headline-2-size: 2.8561rem;
$font-headline-3-size: 2.197rem;
$font-headline-4-size: 1.69rem;
$font-headline-5-size: 1.3rem;
$font-headline-6-size: 1rem;

$font-subtitle-1-size: 1.2rem;
$font-subtitle-2-size: 1rem;

$font-body-1-size: 1rem;
$font-body-2-size: 0.85rem;
