@import "../../styles/theme.scss";

.root {
  padding: $padding;
  overflow: auto;
  height: 100%;
  width: 100%;
  user-select: none;
  display: grid;
  h4:last-of-type {
    margin-top: $margin * 2;
  }
  form {
    display: grid;
    row-gap: $padding;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: $margin;
  row-gap: $margin;
}

.text-area {
  > textarea {
    min-height: 250px;
  }
}
