@import "../../styles/theme.scss";

.root {
  padding: $padding;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: baseline;
  column-gap: $margin;
  row-gap: $margin;
}

.heading {
  margin: $margin 0;
}
