@import "../../styles/theme.scss";

section.manager {
  padding: $padding;
  color: black;
  font-size: 1rem;
  overflow: auto;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: $padding/2;
    li {
      button {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: white;
        border-radius: 0;
        padding: $padding/2;
        margin: 0;
        height: 100px;
      }
    }
  }
}
