.root {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  overflow: auto;
  user-select: none;
}

.small {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
