.root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  min-height: 100%;
}

.tabs {
  border-right: 1px solid var(--cvos-divider);
}

.box {
  display: grid;
  row-gap: 1rem;
}
