.root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  user-select: none;
}

.flex {
  display: flex;
  align-items: center;
  & > :not(:last-child) {
    margin-right: 1rem;
  }
}

.small {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }
}
