.root {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  object-position: center;
  &.square {
    border-radius: 0;
  }
}

.outlined {
  border: 1px solid var(--cvos-divider);
}

.xs {
  width: 2rem;
  height: 2rem;
}
.sm {
  width: 2.5rem;
  height: 2.5rem;
}
.md {
  width: 3.5rem;
  height: 3.5rem;
}
.lg {
  width: 5rem;
  height: 5rem;
}
.xl {
  width: 8rem;
  height: 8rem;
}
