@import "../../styles/theme.scss";

.divider {
  hr {
    background-color: var(--cvos-divider);
    border: 0;
    height: 1px;
    transition: background-color 0.3s ease;
  }
  &.inset {
    padding: 0 $padding/2;
  }
  &.margin {
    margin: $margin/2 0;
  }
  &.vertical {
    height: 100%;
    hr {
      height: 100%;
      width: 1px;
    }
    &.inset {
      padding: $padding/2 0;
    }
    &.margin {
      margin: 0 $margin/2;
    }
  }
}
