$indicator-width: 2px;

.root {
  display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 3rem;
  position: relative;
  transition: border-color 0.3s ease;
  & .indicator {
    background-color: var(--cvos-primary);
    position: absolute;
  }
  &.top,
  &.bottom {
    grid-auto-flow: column;
  }
  &.left,
  &.right {
    min-height: 100%;
  }
  &.left {
    & .indicator {
      width: $indicator-width;
      left: 0;
    }
    &.separator {
      border-left: 1px solid var(--cvos-divider);
      & .indicator {
        left: -1px;
      }
    }
  }
  &.right {
    & .indicator {
      width: $indicator-width;
      right: 0;
    }
    &.separator {
      border-right: 1px solid var(--cvos-divider);
      & .indicator {
        right: -1px;
      }
    }
  }
  &.top {
    & .indicator {
      height: $indicator-width;
      top: 0;
    }
    &.separator {
      border-top: 1px solid var(--cvos-divider);
      & .indicator {
        top: -1px;
      }
    }
  }
  &.bottom {
    & .indicator {
      height: $indicator-width;
      bottom: 0;
    }
    &.separator {
      border-bottom: 1px solid var(--cvos-divider);
      & .indicator {
        bottom: -1px;
      }
    }
  }
}
