$indicator-width: 4px;

.root {
  position: relative;
  &.separator {
    &.top {
      border-top: 1px solid var(--cvos-divider);
    }
    &.left {
      border-left: 1px solid var(--cvos-divider);
    }
    &.bottom {
      border-bottom: 1px solid var(--cvos-divider);
    }
    &.right {
      border-right: 1px solid var(--cvos-divider);
    }
  }
}

.tabs {
  display: grid;
  grid-auto-rows: 3rem;
  position: sticky;
  transition: border-color 0.3s ease;
}

.indicator {
  background-color: var(--cvos-primary-33);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.top {
  .indicator {
    border-top: $indicator-width solid var(--cvos-primary);
  }
}
.left {
  .indicator {
    border-left: $indicator-width solid var(--cvos-primary);
  }
}
.bottom {
  .indicator {
    border-bottom: $indicator-width solid var(--cvos-primary);
  }
}
.right {
  .indicator {
    border-right: $indicator-width solid var(--cvos-primary);
  }
}
