@import "../../styles/theme.scss";

.root {
  color: var(--cvos-text);
  transition: color 0.3s ease;
  font-family: "Karla", sans-serif;
}

.no-select {
  user-select: none;
  cursor: default;
}

.no-wrap {
  width: 100%;
  > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  // word-break: keep-all;
}

@for $i from 1 to 7 {
  .h#{$i} {
    font-size: #{3-0.33 * $i}rem;
    font-weight: #{600 - 75 * $i};
    margin: 0.5em 0;
    letter-spacing: #{2-$i/3}px;
  }
}
.bold {
  font-weight: 800;
}

.body {
  font-size: 1rem;
}

.p {
  font-size: 1rem;
  margin-bottom: $margin/2;
}

.error {
  color: var(--cvos-error);
}
.hint {
  color: var(--cvos-hint);
}
.info {
  color: var(--cvos-info);
}
.primary {
  color: var(--cvos-primary);
}
.secondary {
  color: var(--cvos-secondary);
}
.success {
  color: var(--cvos-success);
}
.warning {
  color: var(--cvos-warning);
}
